<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="navbar">
        <div class="language-selection">
            <a href="{{ url_for('main.setlang', lang='en') }}">English</a> |
            <a href="{{ url_for('main.setlang', lang='ro') }}">Română</a>
        </div>
        <div class="logout-button">
            <a href="{{ url_for('main.configure_twilio') }}" class="btn">Configure Twilio</a>
            <a href="{{ url_for('main.index') }}" class="btn">Index</a>
            <a href="{{ url_for('main.message') }}" class="btn">Message</a>
            <a href="{{ url_for('main.history') }}" class="btn">History</a>
            <a href="{{ url_for('main.profile') }}" class="btn">Profile</a>
            <a href="{{ url_for('auth.logout') }}" class="btn">Logout</a>

        </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
