{% extends "base.html" %}

{% block title %}
BMI History
{% endblock %}

{% block content %}
<div class="container history-page">
    <h1>BMI History</h1>
    <canvas id="bmiChart"></canvas>
<script>
    var ctx = document.getElementById('bmiChart').getContext('2d');

    var dates = {{ dates|tojson }};
    var bmis = {{ bmis|tojson }};

    // Reverse the arrays
    dates.reverse();
    bmis.reverse();

    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [{
                label: 'BMI',
                data: bmis,
                backgroundColor: 'rgba(0, 123, 255, 0.5)',
                borderColor: 'rgba(0, 123, 255, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Weight</th>
                <th>Height</th>
                <th>BMI</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            {% for record in bmi_records %}
            <tr>
                <td>{{ record.date.strftime('%Y-%m-%d') }}</td>
                <td>{{ record.weight }}</td>
                <td>{{ record.height }}</td>
                <td>{{ record.bmi }}</td>
                 <td>
                    <form action="{{ url_for('delete_record', record_id=record.id) }}" method="POST" class="no-style" >
                        <button type="submit" class="btn btn-danger">Delete</button> <!-- Add 'btn-sm' class for a smaller button -->
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
