{% extends "base.html" %}

{% block title %}
{{ _('BMI Calculator') }}
{% endblock %}

{% block content %}
<div class="container">
    <form action="/index" method="post">
        <input type="number" name="weight" step="0.1" placeholder="{{ _('Weight in kg') }}" required>
        <input type="number" name="height" placeholder="{{ _('Height in cm') }}" value="{{ height }}" required>
        <input type="date" name="previous_date" placeholder="{{ _('Previous Date') }}">
        <input type="submit" value="{{ _('Calculate BMI') }}">
    </form>
    <div class="result">
        {% if bmi %}
            {% if bmi_record %}
                <p>{{ _('Your latest BMI was calculated on') }} {{ bmi_record.date.strftime('%Y-%m-%d') }}.</p>
            {% endif %}
            <p>{{ _('Your BMI is:') }} {{ bmi }}</p>
            <p>{{ recommendation }}</p>
        {% endif %}
    </div>
</div>
<script>
    document.getElementById('previous_date').addEventListener('focus', function (e) {
        if(this.value) {
            let today = new Date();
            let dd = String(today.getDate()).padStart(2, '0');
            let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            let yyyy = today.getFullYear();
            this.value = yyyy + '-' + mm + '-' + dd;
        }
    });
</script>
{% endblock %}
