<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMI Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="language-selection">
            <a href="{{ url_for('setlang', lang='en') }}">English</a> |
            <a href="{{ url_for('setlang', lang='ro') }}">Română</a>
        </div>
        <form action="/index" method="post">
            <input type="number" name="weight" placeholder="{{ _('Weight in kg') }}" required>
            <input type="number" name="height" placeholder="{{ _('Height in cm') }}" required>
            <input type="submit" value="{{ _('Calculate BMI') }}">
        </form>
        <div class="result">
            {% if bmi %}
                <p>Your latest BMI was calculated on {{ bmi_record.date.strftime('%Y-%m-%d') }}.</p>
                <p>{{ _('Your last calculated BMI is:') }} {{ bmi }}</p>
                <p>{{ recommendation }}</p>

            {% endif %}
        </div>
    </div>
</body>
</html>
