<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{{ _('BMI App') }}</title>
</head>
<body>
    <div class="navbar">
        <div class="language-selection">
            <a href="{{ url_for('setlang', lang='en') }}">English</a> |
            <a href="{{ url_for('setlang', lang='ro') }}">Română</a>
        </div>
        <div class="logout-button">
            <a href="{{ url_for('logout') }}" class="btn">{{ _('Logout') }}</a>
        </div>
    </div>
    <div class="container">
        <h1>{{ _('Welcome to the BMI App') }}</h1>

        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Login Form -->
        <div id="login-form" class="form">
            <form action="{{ url_for('landing') }}" method="post">
                <input type="text" name="username" placeholder="{{ _('Username') }}" required>
                <input type="password" name="password" placeholder="{{ _('Password') }}" required>
                <input type="submit" value="{{ _('Log In') }}" class="btn">
            </form>
            <p>{{ _("Don't have an account?") }} <a href="javascript:void(0);" onclick="toggleForms()">{{ _('Register') }}</a></p>
        </div>

        <!-- Registration Form -->
        <div id="register-form" class="form" style="display:none;">
            <form action="{{ url_for('register') }}" method="post">
                <input type="text" name="username" placeholder="{{ _('Username') }}" required>
                <input type="password" name="password" placeholder="{{ _('Password') }}" required>
                <input type="password" name="confirm_password" placeholder="{{ _('Confirm Password') }}" required>
                <input type="submit" value="{{ _('Register') }}" class="btn">
            </form>
            <p>{{ _('Already have an account?') }} <a href="javascript:void(0);" onclick="toggleForms()">{{ _('Log In') }}</a></p>
        </div>
    </div>

    <script>
        function toggleForms() {
            var loginForm = document.getElementById("login-form");
            var registerForm = document.getElementById("register-form");
            if (loginForm.style.display === "none") {
                loginForm.style.display = "block";
                registerForm.style.display = "none";
            } else {
                loginForm.style.display = "none";
                registerForm.style.display = "block";
            }

        }

        // Keep the registration form visible if there was an error
        if (window.location.search.includes('register=true')) {
            document.getElementById("login-form").style.display = "none";
            document.getElementById("register-form").style.display = "block";
        }
    </script>
</body>
</html>
